!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }

    %title Playbook

    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    %main.container
      = yield

    = render partial: 'javascripts'
